<!DOCTYPE HTML>
<html>
<head>
    <title>Streamer</title>
</head>
<body>
    <video autoplay hidden=true></video>
    <img src="">

    <div id="myProgress">
      <div id="myBar">
        <div id="label">10%</div>
      </div>
    </div>

    <!-- <link rel="stylesheet" href="/css/progressBar.css"> -->
    <!-- <div class="modal fade" id="pleaseWaitDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>현재 위험도</h3>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="bar"></div>
                        <div class="percent">0%</div>
                    </div>
                    <div id="status"></div>
                </div>
            </div>
        </div>
    </div> -->
    <style>
        #myProgress {
            position: relative;
            width: 100%;
            height: 30px;
            background-color: grey;
        }
        #myBar {
            position: absolute;
            width: 1%;
            height: 100%;
            background-color: red;
        }
        #label {
            text-align: center; /* If you want to center it */
            line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
            color: white;
        }
    </style>

    <script type = "text/javascript">
    
        const video = document.querySelector('video');
        const img = document.querySelector('img');
        navigator.mediaDevices.getUserMedia({video: {width: 640, height: 480}})
        .then((stream) => video.srcObject = stream);

        const getFrame = () => {
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            const data = canvas.toDataURL('image/png');
            return data;
        }

        const WS_URL = 'ws://localhost:5500/ws';   // <<<<<<< 이 부분 port번호 맞추기
        const FPS = 3;
        const ws = new WebSocket(WS_URL);

        ws.onopen = () => {
            console.log(`Connected to ${WS_URL}`);
            setInterval(() => {
                ws.send(getFrame());
            }, 1000 / FPS);
        }

        ws.onmessage = message => {
            // set the base64 string to the src tag of the image
            var mess = message.data
            // img.src = message.data
            console.log(img.src)
            // 이미지 소스에 분석한 이미지 삽입
            img.src = mess.substring(0,mess.length-3);
            // 프로그래스바=>myBar
            var elem = document.getElementById("myBar");

            dangerRate = mess.substring(mess.length-3)
            elem.style.width = dangerRate + '%';
            document.getElementById("label").innerHTML = dangerRate * 1  + '%';
            
            // 추가로 그래프에 따른 색상 변경 추가
            // if (dangerRate > 80) {
            //     elem.style.background = red
            // }elseif (dangerRage > 50) {

            // }
            // else {

            // }
        }

        /*
        여기까지 확보!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        */


        /*
        ######################## 1차 ########################################
        */
        /* progressbar 정보 */
        // var bar = $('.bar');
        // var percent = $('.percent');
        // var status = $('#status');

        // $('.modal-body').focusin(function() {
        //     console.log('반응완료');
        //     $.ajax({
        //         xhr: function() {
        //             var xhr = new window.XMLHttpRequest();
        //             xhr.addEventListener("")
        //             var percentComplete = Math.floor((evt.loaded / evt.total) * 100);
        //             /* Do something with upload progress here */
        //             var percentVal = percentComplete + '%';
        //             bar.width(percentVal);
        //             percent.html(percentVal);
        //         },
        //         type : 'GET',
        //         url : "/",
        //         dataType: 'text',
        //     });
        // });


        /*
        ######################## 2차 ########################################
        */

        // var timerID;
        // $(document).ready(function () {
        //     $('#execute').on('click',function(e){
        //         e.preventDefault();
        //         updateData();

        //     });
        //     $('#stop').on('click',function(e){
        //         e.preventDefault();
        //         clearTimeout(timerID); // 타이머 중지
        //         $('#showtime').html('');
        //     });   
        // });

        // function updateData(){
        //     $.ajax({
        //     url: "getserver.php",
        //     type:"post",
        //     cache : false,
        //     success: function(data){ // getserver.php 파일에서 echo 결과값이 data 임
        //         $('#showtime').html(img_processer(data));
        //     }
        //     });
        //     timerID = setTimeout("updateData()", 2000); // 2초 단위로 갱신 처리
        // }


    </script>

    
    <!-- <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width: 50%;">
            <span class="sr-only">45% Complete</span>
        </div>
    </div> -->
</body>
</html>