<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="unititled">
	<meta name="keywords" content="HTML5 Crowdfunding Profile Template">
	<meta name="author" content="Audain Designs">
	<!-- <link rel="shortcut icon" href="favicon.ico">   -->
	<title>Real Time - Mask Detection</title>

	<!-- Gobal CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Template CSS -->
	<link href="assets/css/style.css" rel="stylesheet">

	<!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<style>
		#myProgress {
			position: relative;
			width: 100%;
			height: 30px;
			background-color: grey;
		}
		#myBar {
			position: absolute;
			width: 0%;
			height: 100%;
			background-color: rgb(227, 78, 78);
		}
		#label {
			text-align: center; /* If you want to center it */
			line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
			color: white;
		}
	</style>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-12345678-9', 'auto');
		ga('send', 'pageview');

	</script>	
</head>
<body>
	<!--header-->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="goal-summary pull-left">
					<div class="backers">
						<h3>확진자 수()</h3>
						<span>확진자</span>
					</div>
					<div class="funded">
						<h3>완치자 수</h3>
						<span>완치자</span>
					</div>
					<div class="time-left">
						<h3>코로나 시작일...</h3>
						<span>코로나 발생일부터..</span>
					</div>
					<div class="reminder last">
						<a href="http://ncov.mohw.go.kr/"><i class="fa fa-star"></i> COVID </a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--/header-->
	<!--main content-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="content col-md-12 col-sm-12 col-xs-12">
					<div class="section-block">
						<div class="funding-meta">
							<h1>MASK DETECT</h1>
							<span class="type-meta"><i class="fa fa-user"></i> IJ&Green&WS </span>
							<span class="type-meta"><i class="fa fa-tag"></i> <a href="https://github.com/Slangoij/SideProj.-Mask_Detection">github</a></span>
							<div class="video-frame">
								<video autoplay controls hidden=true width="500" height="400" id='vd'></video>
								<img src="assets/img/mask.png" width="100%">
							</div>
							<p>서비스 이용을 원하신다면 아래의 버튼을 눌러주세요</p>
							<h2>Danger Rate</h2>
							<div id="myProgress">
								<div id="myBar">
									<div id="label">0%</div>
								</div>
							</div> 
						</div>
						<br>
							<!-- <span class="goal-progress"><strong>인원수</strong> 인식한 사람 수 </span> -->
						<span class="count-down"><strong>마스크 착용을 생활화 합시다</strong></span>
						<!-- <a href="http://ncov.mohw.go.kr/bdBoardList_Real.do" class="btn btn-launch">코로나 현황</a> -->
						<button class="btn btn-launch" onclick='startVideo()'> detect start </button>
					</div>
				<!--/main content-->
			</div>
		</div>
	</div>
	<footer class="footer">
	<div class="container">
			<div class="row">
				<!--This template has been created under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using this template in your own project, thank you.-->
				<span class="copyright">Created by <a href="https://www.free-css.com/free-css-templates/page245/launch-v1.0" target="_blank">Audain Designs</a> for free use</span>
			</div>
		</div>
	</footer>
	
	<!-- Global jQuery -->
	<script type="text/javascript" src="assets/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/mask_detect.js"></script>
	<!-- Template JS -->
	<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
